@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;700&display=swap");
@font-face {
  font-family: "finis-bold";
  src: url(fonts/FinisTextSoft-Bold.ttf);
}
@font-face {
  font-family: "finis-regular";
  src: url(fonts/FinisTextSoft-Regular.ttf);
}
@font-face {
  font-family: "finis-light";
  src: url(fonts/FinisTextSoft-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.section {
  margin-inline: 15%;
  border: 1px solid red;
  padding: 15px;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 180px !important;
}
header h1 {
  font-family: "finis-bold";
  font-size: 80px;
}
header h2 {
  font-family: "Encode Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: max(350px, 40%);
}
header div.arrow {
  height: 2px;
  width: 100px;
  background: black;
  display: inline-block;
  margin-bottom: 4px;
  position: relative;
}
header div.arrow .vertical {
  height: 78vh;
  width: 1px;
  background-color: black;
  position: absolute;
  right: 0;
}
header div.arrow .vertical:before, header div.arrow .vertical:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 1px;
  background: black;
  bottom: -2px;
}
header div.arrow .vertical:before {
  left: -3px;
  transform: rotate(-45deg);
}
header div.arrow .vertical:after {
  left: 3px;
  transform: rotate(45deg);
}

main {
  display: flex;
  flex-direction: column;
  gap: 280px;
}

.projects {
  margin-top: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 180px;
}
.projects .project-container .data {
  display: flex;
  gap: 10px;
}
.projects .project-container .data img {
  width: 70%;
}
.projects .project-container .data div.text {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  text-wrap: wrap;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.projects .project-container h1.subtitle {
  font-family: "finis-bold";
  font-size: 45px;
  text-decoration: underline;
  margin-bottom: 15px;
}
.projects .project-container:nth-of-type(2) .data img {
  order: 2;
}
.projects .project-container:nth-of-type(2) h1.subtitle {
  text-align: end;
}

.about-me h1 {
  font-family: "finis-bold";
  font-size: 80px;
}
.about-me .text {
  margin-left: max(350px, 40%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.about-me .text p {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.my-skills h1 {
  font-family: "finis-bold";
  font-size: 80px;
}
.my-skills ul.icons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 0;
  width: 100%;
  padding: 0 200px 0 300px;
  margin-top: 80px;
}
.my-skills ul.icons .cell {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-skills ul.icons .cell svg {
  width: 60px;
}
.my-skills ul.icons .cell h3 {
  font-family: "Encode Sans";
}/*# sourceMappingURL=styles.css.map */