@font-face {
  font-family: "finis-bold";
  src: url(fonts/FinisTextSoft-Bold.ttf);
}
@font-face {
  font-family: "finis-regular";
  src: url(fonts/FinisTextSoft-Regular.ttf);
}
@font-face {
  font-family: "finis-light";
  src: url(fonts/FinisTextSoft-Light.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;700&display=swap");

// Custom sizes
$arrow: 70vh;
$title: "finis-bold";
$text: "Encode Sans";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  margin-inline: 200px;
  padding: 15px;
  position: relative;
}

  #triangle {
    position: absolute;
    left: -200px;
    display: grid;
    grid-template-rows: repeat(3, 63px);
    grid-template-columns: repeat(2, 95px);
    transition: all ease-in-out 250ms;

    div {
      transition: all ease-in-out 250ms;
      width: 0;
      height: 0;
      border: solid;
      border-width: 33px 0px 33px 100px;
      border-color: transparent transparent transparent black;

      &:nth-of-type(2),
      &:nth-of-type(4) {
        margin-top: 31.5px;
      }
    }
  }

header {
  display: flex;
  flex-direction: column;
  margin-top: 180px !important;

  h1 {
    font-family: $title;
    font-size: 80px;
  }

  h2 {
    font-family: $text, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: max(350px, 40%);
  }

  div.arrow {
    height: 2px;
    width: 100px;
    background: black;
    display: inline-block;
    margin-bottom: 4px;
    position: relative;

    .vertical {
      height: 78vh;
      width: 1px;
      background-color: black;
      position: absolute;
      right: 0;

      &:before,
      &:after {
        content: "";
        position: absolute;
        height: 10px;
        width: 1px;
        background: black;
        bottom: -2px;
      }
      &:before {
        left: -3px;
        transform: rotate(-45deg);
      }
      &:after {
        left: 3px;
        transform: rotate(45deg);
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.projects {
  margin-top: $arrow;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 180px;

  .project-container {
    position: relative;
    .triangles {
      ul {
        left: auto;
        right: -220px;
        top: 150px;
        transform: rotate(180deg);
      }
    }

    h1.subtitle {
      font-family: $title;
      font-size: 45px;
      text-decoration: underline;
      margin-bottom: 15px;
      transition: all ease-in-out 400ms;
    }

    a {
      color: black;
    }

    .data {
      display: flex;
      gap: 10px;

      .image-link {
        min-width: 70%;
        transition: ease-in-out all 500ms;

        &:hover {
          scale: 1.01;
        }
      }

      img {
        width: 100%;
      }

      div.text {
        font-family: $text, sans-serif;
        font-size: 16px;
        text-wrap: wrap;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
  }

  .project-container:nth-of-type(2) {
    .data {
      a {
        order: 2;
      }
    }

    h1.subtitle {
      text-align: end;
    }
  }
}

.about-me {
  h1 {
    font-family: $title;
    font-size: 80px;
  }
  .text {
    margin-left: max(350px, 40%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
    p {
      font-family: $text, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.my-skills {
  h1 {
    font-family: $title;
    font-size: 80px;
  }
  ul.icons {
    list-style-type: none;
    margin-top: 80px;
    display: grid;
    width: 100%;
    padding-left: 350px;
    gap: 30px 0;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: auto;
    justify-content: start;
    .cell {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: ease-in-out 300ms all;
      svg {
        width: 60px;
      }

      h3 {
        font-family: $text;
        text-align: center;
      }

      &:hover {
        scale: 1.1;
      }
    }
  }
}

footer {
  margin-top: 200px;
  .contact-me {
    h1 {
      font-family: $title;
      font-size: 80px;
      margin-bottom: 50px;
    }

    .links {
      display: grid;
      grid-template: 40px 140px / repeat(2, 50%);
      padding-bottom: 40px;
    }
    .link {
      display: flex;
      a {
        text-decoration: none;
        font-size: 18px;
        position: relative;
        font-family: "Encode Sans", sans-serif;
        font-weight: 400;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.7);
      }
      img {
        width: 180px;
        position: absolute;
      }
    }

    .link:nth-of-type(1) {
      grid-column: 2 / 3;
      justify-content: baseline;
      position: relative;

      img {
        top: -80px;
        right: -150px;
      }
    }

    .link:nth-of-type(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-content: center;

      img {
        bottom: -80px;
        right: -150px;
      }
    }

    .link:nth-of-type(3) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-content: center;

      img {
        width: 90px;
        bottom: -120px;
        left: 50%;
      }
    }

    .link:nth-of-type(2),
    .link:nth-of-type(3) {
      align-items: center;
    }

    .copy-bubble {
      position: relative;
      top: -70px;
      left: -190px;
      background: rgb(56, 56, 56);
      color: white !important;
      font-family: "Encode Sans", sans-serif;
      font-size: 14px;
      padding: 5px;
      border-radius: 5px;
      width: 125px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all ease-in-out 300ms;

      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: 10px solid;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
        border-color: rgb(56, 56, 56) transparent transparent transparent;
      }
    }
  }
}

.about-me,
.my-skills{
  .triangles {
    ul {
      top: -30px;
    }
  }
}

.goodbye {
  margin-top: 80px;
  padding: 50px 0;
  text-align: center;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
