@font-face {
  font-family: "finis-bold";
  src: url(fonts/FinisTextSoft-Bold.ttf);
}
@font-face {
  font-family: "finis-regular";
  src: url(fonts/FinisTextSoft-Regular.ttf);
}
@font-face {
  font-family: "finis-light";
  src: url(fonts/FinisTextSoft-Light.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;700&display=swap");

// Custom sizes
$arrow: 70vh;
$title: "finis-bold";
$text: "Encode Sans";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  margin-inline: 15%;
  // border: 1px solid red;
  padding: 15px;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 180px !important;

  h1 {
    font-family: $title;
    font-size: 80px;
  }

  h2 {
    font-family: $text, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: max(350px, 40%);
  }

  div.arrow {
    height: 2px;
    width: 100px;
    background: black;
    display: inline-block;
    margin-bottom: 4px;
    position: relative;

    .vertical {
      height: 78vh;
      width: 1px;
      background-color: black;
      position: absolute;
      right: 0;

      &:before,
      &:after {
        content: "";
        position: absolute;
        height: 10px;
        width: 1px;
        background: black;
        bottom: -2px;
      }
      &:before {
        left: -3px;
        transform: rotate(-45deg);
      }
      &:after {
        left: 3px;
        transform: rotate(45deg);
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.projects {
  margin-top: $arrow;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 180px;

  .project-container {
    .data {
      display: flex;
      gap: 10px;

      img {
        width: 70%;
      }

      div.text {
        font-family: $text, sans-serif;
        font-size: 16px;
        text-wrap: wrap;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }

    h1.subtitle {
      font-family: $title;
      font-size: 45px;
      text-decoration: underline;
      margin-bottom: 15px;
    }
  }

  .project-container:nth-of-type(2) {
    .data {
      img {
        order: 2;
      }
    }

    h1.subtitle {
      text-align: end;
    }
  }
}

.about-me {
  h1 {
    font-family: $title;
    font-size: 80px;
  }
  .text {
    margin-left: max(350px, 40%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    p {
      font-family: $text, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.my-skills {
  h1 {
    font-family: $title;
    font-size: 80px;
  }
  ul.icons {
    list-style-type: none;
    margin-top: 80px;
    display: grid;
    width: 100%;
    padding-left: 350px;
    gap: 30px 0;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: auto;
    justify-content: start;
    .cell {
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
        width: 60px;
      }

      h3 {
        font-family: $text;
        text-align: center;
      }
    }
  }
}

footer {
  margin-top: 200px;
  .contact-me {
    h1 {
      font-family: $title;
      font-size: 80px;
      margin-bottom: 50px;
    }

    .links {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 50%);
      padding-bottom: 40px;
    }
    .link {
      display: flex;
      h3 {
        position: relative;
        font-family: "Encode Sans", sans-serif;
        font-weight: 400;
      }
      img {
        width: 180px;
        position: absolute;
      }
    }

    .link:nth-of-type(1) {
      margin-left: 400px;

      img {
        top: -80px;
        right: -150px;
      }
    }

    .link:nth-of-type(2) {
      margin-top: 80px;
      margin-left: 140px;

      img {
        bottom: -80px;
        right: -150px;
      }
    }

    .link:nth-of-type(3) {
      margin-top: -20px;
      margin-left: 140px;

      img {
        width: 90px;
        bottom: -30px;
        left: 50%;
      }
    }
  }
}

.goodbye {
  margin-top: 50px;
  padding: 50px 0;
  text-align: center;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
