@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;700&display=swap");
@font-face {
  font-family: "finis-bold";
  src: url(fonts/FinisTextSoft-Bold.ttf);
}
@font-face {
  font-family: "finis-regular";
  src: url(fonts/FinisTextSoft-Regular.ttf);
}
@font-face {
  font-family: "finis-light";
  src: url(fonts/FinisTextSoft-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  margin-inline: 200px;
  padding: 15px;
  position: relative;
}

.triangles ul {
  position: absolute;
  left: -200px;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(3, 63px);
  grid-template-columns: repeat(2, 95px);
}
.triangles ul li {
  content: "";
  width: 0;
  height: 0;
  border: solid;
  border-width: 33px 0px 33px 100px;
  border-color: transparent transparent transparent black;
}
.triangles ul li:nth-of-type(2), .triangles ul li:nth-of-type(4) {
  margin-top: 31.5px;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 180px !important;
}
header h1 {
  font-family: "finis-bold";
  font-size: 80px;
}
header h2 {
  font-family: "Encode Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: max(350px, 40%);
}
header div.arrow {
  height: 2px;
  width: 100px;
  background: black;
  display: inline-block;
  margin-bottom: 4px;
  position: relative;
}
header div.arrow .vertical {
  height: 78vh;
  width: 1px;
  background-color: black;
  position: absolute;
  right: 0;
}
header div.arrow .vertical:before, header div.arrow .vertical:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 1px;
  background: black;
  bottom: -2px;
}
header div.arrow .vertical:before {
  left: -3px;
  transform: rotate(-45deg);
}
header div.arrow .vertical:after {
  left: 3px;
  transform: rotate(45deg);
}

main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.projects {
  margin-top: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 180px;
}
.projects .project-container {
  position: relative;
}
.projects .project-container .triangles ul {
  left: auto;
  right: -220px;
  top: 150px;
  transform: rotate(180deg);
}
.projects .project-container h1.subtitle {
  font-family: "finis-bold";
  font-size: 45px;
  text-decoration: underline;
  margin-bottom: 15px;
  transition: all ease-in-out 400ms;
}
.projects .project-container a {
  color: black;
}
.projects .project-container .data {
  display: flex;
  gap: 10px;
}
.projects .project-container .data .image-link {
  min-width: 70%;
  transition: ease-in-out all 500ms;
}
.projects .project-container .data .image-link:hover {
  scale: 1.01;
}
.projects .project-container .data img {
  width: 100%;
}
.projects .project-container .data div.text {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  text-wrap: wrap;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.projects .project-container:nth-of-type(2) .data a {
  order: 2;
}
.projects .project-container:nth-of-type(2) h1.subtitle {
  text-align: end;
}

.about-me h1 {
  font-family: "finis-bold";
  font-size: 80px;
}
.about-me .text {
  margin-left: max(350px, 40%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 80px;
}
.about-me .text p {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.my-skills h1 {
  font-family: "finis-bold";
  font-size: 80px;
}
.my-skills ul.icons {
  list-style-type: none;
  margin-top: 80px;
  display: grid;
  width: 100%;
  padding-left: 350px;
  gap: 30px 0;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: auto;
  justify-content: start;
}
.my-skills ul.icons .cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease-in-out 300ms all;
}
.my-skills ul.icons .cell svg {
  width: 60px;
}
.my-skills ul.icons .cell h3 {
  font-family: "Encode Sans";
  text-align: center;
}
.my-skills ul.icons .cell:hover {
  scale: 1.1;
}

footer {
  margin-top: 200px;
}
footer .contact-me h1 {
  font-family: "finis-bold";
  font-size: 80px;
  margin-bottom: 50px;
}
footer .contact-me .links {
  display: grid;
  grid-template: 40px 140px/repeat(2, 50%);
  padding-bottom: 40px;
}
footer .contact-me .link {
  display: flex;
}
footer .contact-me .link a {
  text-decoration: none;
  font-size: 18px;
  position: relative;
  font-family: "Encode Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}
footer .contact-me .link img {
  width: 180px;
  position: absolute;
}
footer .contact-me .link:nth-of-type(1) {
  grid-column: 2/3;
  justify-content: baseline;
  position: relative;
}
footer .contact-me .link:nth-of-type(1) img {
  top: -80px;
  right: -150px;
}
footer .contact-me .link:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-content: center;
}
footer .contact-me .link:nth-of-type(2) img {
  bottom: -80px;
  right: -150px;
}
footer .contact-me .link:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-content: center;
}
footer .contact-me .link:nth-of-type(3) img {
  width: 90px;
  bottom: -120px;
  left: 50%;
}
footer .contact-me .link:nth-of-type(2),
footer .contact-me .link:nth-of-type(3) {
  align-items: center;
}
footer .contact-me .copy-bubble {
  position: relative;
  top: -70px;
  left: -190px;
  background: rgb(56, 56, 56);
  color: white !important;
  font-family: "Encode Sans", sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  width: 125px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all ease-in-out 300ms;
}
footer .contact-me .copy-bubble:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  border-color: rgb(56, 56, 56) transparent transparent transparent;
}

.about-me .triangles ul,
.my-skills .triangles ul {
  top: -30px;
}

.goodbye {
  margin-top: 80px;
  padding: 50px 0;
  text-align: center;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}/*# sourceMappingURL=styles.css.map */